# Global Option Block
{
	auto_https disable_redirects
	admin 0.0.0.0:2020
	servers {
		metrics
	}
}

:443 {
	#respond "I am :443"
	reverse_proxy node-01.local:4922 node-02.local:4922 {
		health_uri /ping
		health_interval 1s
		health_timeout 1s
		#health_status 200
		health_body pong
	}
	tls internal {
		on_demand
	}
	log {
		output file https.log
	}
	encode zstd gzip
}

:80 {
	#respond "I am :80"
	reverse_proxy node-01.local:4922 node-02.local:4922 {
		health_uri /ping
		health_interval 1s
		health_timeout 1s
		#health_status 200
		health_body pong
	}
	log {
		output file http.log
	}
	encode zstd gzip
}

#http://10.10.10.14:2020 {
#	#respond "I am caddy admin:2020"
#	reverse_proxy http://localhost:2019/metrics {
#	}
#	encode zstd gzip
#}
